*.wav
__pycache__
results
**/data/*
!**/data/README.md
!**/data/.gitkeep
plots
checkpoints
wandb
TEMP
**/*.npy
**/*.pth
**/.DS_Store

packages/rPPG-Toolbox/*.log
packages/rPPG-Toolbox/*.mat
packages/rPPG-Toolbox/.idea
packages/rPPG-Toolbox/preprocess
packages/rPPG-Toolbox/preprocessed
packages/rPPG-Toolbox/store_model
packages/rPPG-Toolbox/store_physnet_model
packages/rPPG-Toolbox/PreprocessedData
packages/rPPG-Toolbox/PreTrainedModels
packages/rPPG-Toolbox/runs
packages/rPPG-Toolbox/temp
packages/rPPG-Toolbox/facial_region_test.py
packages/rPPG-Toolbox/interp_test.py
packages/rPPG-Toolbox/debug_utils.py
packages/rPPG-Toolbox/multi_test.py
packages/rPPG-Toolbox/neural_methods/trainer/PhysnetTrainer_backup.py
packages/rPPG-Toolbox/debug_utils_physnet.py
packages/rPPG-Toolbox/test.yaml
packages/rPPG-Toolbox/data/**
