*.wav
*.jpg
__pycache__
results
!**/data/README.md
**/data/*
data
plots.results
checkpoints
wandb
TEMP
**/*.npy
**/*.pth
**/.DS_Store

!**/.gitkeep

packages/rppg_toolbox/*.log
packages/rppg_toolbox/*.mat
packages/rppg_toolbox/.idea
packages/rppg_toolbox/runs/exp/**
packages/rppg_toolbox/preprocess
packages/rppg_toolbox/preprocessed
packages/rppg_toolbox/store_model
packages/rppg_toolbox/store_physnet_model
packages/rppg_toolbox/PreprocessedData
packages/rppg_toolbox/PreTrainedModels
packages/rppg_toolbox/runs
packages/rppg_toolbox/temp
packages/rppg_toolbox/facial_region_test.py
packages/rppg_toolbox/interp_test.py
packages/rppg_toolbox/debug_utils.py
packages/rppg_toolbox/multi_test.py
packages/rppg_toolbox/neural_methods/trainer/PhysnetTrainer_backup.py
packages/rppg_toolbox/debug_utils_physnet.py
packages/rppg_toolbox/test.yaml
packages/rppg_toolbox/data/**

temp_video.mp4
**/temp_frames/**
